[submodule "HDL_Ciphers"]
	path = external/HDL_Ciphers
	url = https://github.com/inmcm/HDL_Ciphers
[submodule "Trivium-Cipher"]
	path = external/Trivium-Cipher
	url = https://github.com/akshjums/Trivium-Cipher.git
[submodule "vhdl_prng"]
	path = external/vhdl_prng
	url = https://github.com/jorisvr/vhdl_prng.git
